#logo {
	margin-top: 10px;
}

#loginForm {
	margin-top: 30px;
}

#indexBanner {
	min-height: 632px;
	max-height: 864px;
	position: relative;
	background-color: #2196F3;
}

#signUpButton {
	margin-right: 30px;
}