  	<div class="container">
  		<h4>Disciplines</h4>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, elit convallis hendrerit euismod, risus lectus iaculis felis, congue vehicula massa nulla sed odio. Donec dignissim nunc ut iaculis varius. Vestibulum molestie augue ut pellentesque pellentesque. Etiam mattis sollicitudin metus, eget mattis massa posuere sed. Mauris gravida id ligula a porta. Vivamus at laoreet lacus.
      </p>
      <div class="row center">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/programming.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><a>Programming</a><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Programming<i class="material-icons right">close</i></span>
              <p>Programmers build things all day in environments that are usually fun and casual.  Companies are falling over themselves to get good programmers.</p>
              <button class="btn waves-effect waves-light" type="submit" name="action">Get Started
              </button>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/design.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><a>Graphic Design</a><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Graphic Design<i class="material-icons right">close</i></span>
              <p>Design is everywhere.  It's driving whole business cultures and making sure environments from hospitals to airports are easier to navigate.</p>
              <button class="btn waves-effect waves-light" type="submit" name="action">Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/webdesign.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><a>Web Design</a><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Web Design<i class="material-icons right">close</i></span>
              <p>web designers are responsible for the visual aspect, which includes the layout, coloring and typography of a web page.</p>
              <button class="btn waves-effect waves-light" type="submit" name="action">Get Started
              </button>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/networking.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><a>Networking</a><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Networking<i class="material-icons right">close</i></span>
              <p>Computer networks are critical today. Network administrators are responsible for keeping these networks up and running.</p>
              <button class="btn waves-effect waves-light" type="submit" name="action">Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>